<div class="header">
  <div class="top">
      <div class="wrapper clearfix">
          <h1 class="logo fl">
              <a href="javascript:;" title="福建省学前教育公共服务平台">
                  <img src="http://image.101.com/baby/img/logo.png" alt="">
              </a>
          </h1>
          <div class="search-wrap fl">
              <div class="search-engine">
                  <div class="result"><span>资源</span>
                      <i class="ico-toggle"></i>
                      <ul class="list-xiala">
                          <li><a href="javascript:;" title="">资源</a></li>
                          <li><a href="javascript:;" title="">专题</a></li>
                          <!-- <li><a href="javascript:;" title="">名师</a></li>
                          <li><a href="javascript:;" title="">机构</a></li>
                          <li><a href="javascript:;" title="">商城</a></li> -->
                          <li><a href="javascript:;" title="">资讯</a></li>
                          <li><a href="javascript:;" title="">论坛</a></li>
                      </ul>
                  </div>
              </div>
              <div class="search-input">
                  <input type="text" placeholder="搜索关键词...">
              </div>
              <button class="search-btn"></button>
          </div>
          <div class="login-wrap fr">
              <img class="ico-avatar js-avatar" src="img/user-default.png" alt="" onerror="this.src=' data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==';this.onerror = null;">
              <a class="js-login user-login" href="javascript:;" title="" target="_blank">登录</a>
              <span>/</span>
              <a class="js-register user-register" href="javascript:;" title="" target="_blank">注册</a>
              <div class="logined-wrap">
                  <a class="js-name user-name" href="javascript:;" title="">刘一二</a>
                  <div class="user-droplist-wrap">
                      <div class="user-droplist">
                          <a class="person-center" href="javascript:;" title="">个人中心</a>
                          <a class="js-logout user-logout" href="javascript:;">退出</a>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
  <div class="nav">
      <div class="wrapper">
          <ul class="nav-list clearfix">
              <li><a href="javascript:;" title="首页">首页</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="资源超市">资源超市</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="专题">专题</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="名师空间">名师空间</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="亲子商城">亲子商城</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="资讯">资讯</a></li>
              <li>|</li>
              <li><a href="javascript:;" title="论坛">论坛</a></li>
          </ul>
          <a class="btn-vr" href="javascript:;" title="">VR体验</a>
      </div>
  </div>
</div>